<div style="padding:1%;" fxLayout="row" fxLayoutAlign="space-between end">
  <span style="font-size: large;font-weight: bold;">League Details</span>
  <button mat-mini-fab color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div style="padding: 2%;">
  <mat-form-field >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
  </mat-form-field>
  <section class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> League Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> League Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="administrator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> League Administrator </th>
        <td mat-cell *matCellDef="let element"> {{element.administrator}} </td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> League Format </th>
        <td mat-cell *matCellDef="let element"> {{element.format}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
  <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>
</div>