<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    <mat-card class = "cards" (click)="redirect('parlelections')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">groups</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Lok Sabha</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('parlelections')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">diversity_3</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Vidhan Sabha</span>
        </mat-card-content>
    </mat-card>
</div>
