<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-card fxFlex="25" class="shadow-card">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Registration Forms</mat-card-title>
        </mat-card-header>
        <br>
        <form [formGroup]="form">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
        </form>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-fab extended color="primary" (click)="register()" [disabled]=form.invalid>
                <mat-icon>app_registration</mat-icon>
                Register
            </button>
        </mat-card-actions>
    </mat-card>
</div>