<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    
    <mat-card class = "cards" (click)="redirect('playing11')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Playing 11</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('match')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">campaign</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Match Summary</span>
        </mat-card-content>
    </mat-card>
    
    <mat-card class = "cards" (click)="redirect('batting')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">auto_stories</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Batting Details</span>
        </mat-card-content>
    </mat-card>
    
    <mat-card class = "cards" (click)="redirect('bowling')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">newspaper</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Bowling Details</span>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    
    <mat-card class = "cards" (click)="redirect('points')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Points Table</span>
        </mat-card-content>
    </mat-card>
</div>