<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    <!-- (click)="redirect('cricket')" -->
    <mat-card class = "cards" (click)="redirect('umpires')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Umpires</span>
        </mat-card-content>
    </mat-card>
    <!-- (click)="redirect('settings')" -->
    <mat-card class = "cards" (click)="redirect('venues')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">campaign</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Venues</span>
        </mat-card-content>
    </mat-card>
    <!-- (click)="redirect('settings')" -->
    <mat-card class = "cards" (click)="redirect('leagues')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">campaign</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Leagues</span>
        </mat-card-content>
    </mat-card>
    <!-- (click)="redirect('settings')" -->
    <mat-card class = "cards" (click)="redirect('teams')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">campaign</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Teams</span>
        </mat-card-content>
    </mat-card>
    <!-- (click)="redirect('cricket')" -->
    
</div>
<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    <!-- (click)="redirect('cricket')" -->
    <mat-card class = "cards" (click)="redirect('matches')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Matches</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('matches')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Players</span>
        </mat-card-content>
    </mat-card>
</div>