<div fxLayout = "row" fxLayoutAlign = "space-around center" class="cards-div">
    <mat-card class = "cards" (click)="redirect('cricket')" >
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">sports_kabaddi</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Cricket</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('cricket')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">campaign</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Tennis</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('cricket')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">auto_stories</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Badminton</span>
        </mat-card-content>
    </mat-card>
    <mat-card class = "cards" (click)="redirect('cricket')">
        <mat-card-content fxLayoutAlign = "space-around center">
                <mat-icon class="icons" fxLayoutAlign = "start">newspaper</mat-icon>
            <span style="font-size: 25px;font-weight: bold;">Chess</span>
        </mat-card-content>
    </mat-card>
</div>